
{% extends "base.html" %}
{% block content %}
<script>
	$(document).on("click", ".edit", function () {
		var myBookId = $(this).data('id');
		$(".modal-body #bookId1").val( myBookId );
		
	});

	$(document).on("click", ".myDelete", function () {
		var myBookId2 = $(this).data('id');
		$("#bookId2").val( myBookId2 );
		
	});

	const MY_SERVER = 'http://127.0.0.1:5000';

	const addNewBook = async () => {
		console.log('inside add new book')
		const data = {
			name: document.getElementById("name").value,
			author: document.getElementById("author").value,
			year_published: document.getElementById("year_published").value,
			type: document.getElementById("type_2").value
		};

		await axios.post(`${MY_SERVER}/books`, data);
		loadData();
	};

	const deleteBook = async () => {
		id = document.getElementById("bookId2").value

		await axios.delete(`${MY_SERVER}/books/${id}`);
		await loadData();
	};

	const updateBook = async () => {
		id = document.getElementById("bookId1").value

		const data = {
			name: document.getElementById("name1").value,
			author: document.getElementById("author1").value,
			year_published: document.getElementById("year_published1").value,
			type: document.getElementById("type1").value
		};

		console.log(`BOOK ID: ${id}`)
		console.log(data)

		await axios.put(`${MY_SERVER}/books/${id}`, data);
		loadData();
	};

	const loadData = async () => {
		const booksResponse = await axios.get(`${MY_SERVER}/books`);
		const books = booksResponse.data;
		const bookTableBody = document.getElementById("tableBody");
		bookTableBody.innerHTML = books.map(book => `
		<tr>
			<td>${book.name}</td>
			<td>${book.author}</td>
			<td>${book.year_published}</td>
			<td>${book.type}</td>
			<td>
				<a href="#editBookModal" data-id="${book.id}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
				<a href="#deleteBookModal" data-id="${book.id}" class="delete myDelete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
			</td>
		</tr>
		`).join("");
	};

	loadData();
</script>

<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Books</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addBookModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Book</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Author</th>
						<th>Year Published</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody id="tableBody">

				</tbody>
			</table>
			
		</div>
	</div>        
</div>
<!-- Add Book Modal HTML -->
<div id="addBookModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Add Book</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Book</label>
						<input type="text" id="name" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Author</label>
						<input type="text" id="author" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="year_published1">Year Published</label>
						<input type="number" id="year_published" class="form-control" min="1900" max="2023" required>
					  </div>
					<div class="form-group">
						<label>Type</label><br/>
						<div class="bg-example">
							<select id="type_2" class="form-select form-select-lg mb-3 custom-select" aria-label=".form-select-lg example">
								<option value="1">Up to 10 days</option>
								<option value="2">Up to 5 days</option>
								<option value="3">Up to 2 days</option>
							</select>
						</div>						  
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" onclick="addNewBook()" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Book Modal HTML -->
<div id="editBookModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Edit Book</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Name</label>
						<input type="text" id="name1" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Author</label>
						<input type="text" id="author1" class="form-control" required></textarea>
					</div>
					<div class="form-group">
						<label for="year_published1">Year Published</label>
						<input type="number" id="year_published1" class="form-control" min="1900" max="2023" required>
					</div>					  
					<div class="form-group">
						<label>Type</label><br/>
						<div class="bg-example">
							<select id="type1" class="form-select form-select-lg mb-3 custom-select" aria-label=".form-select-lg example">
								<option value="1">Up to 10 days</option>
								<option value="2">Up to 5 days</option>
								<option value="3">Up to 2 days</option>
							</select>
						</div>						  
					</div>
					<div hidden class="form-group">
						<label>Book ID1</label>
						<input type="text" class="form-control" id="bookId1"/>
					</div>	
				</div>
					
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" onclick="updateBook()" class="btn btn-info" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Book Modal HTML -->
<div id="deleteBookModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Delete Book</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div hidden class="form-group">
					<label>Book ID2</label>
					<input type="text" class="form-control" id="bookId2"/>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" onclick="deleteBook()"class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
